div {
  display: block;
}

.App {
  display: block;
  left: 0;
  right: 0;
  top: 0;
  min-height: 100%;
  position: absolute;
}

/* .SingleYouTubeVideoCard-title-0138 {
  -webkit-box-orient: vertical;
} */

.MuiCardContent-root-0145 {
  padding: 0;
}